##### Nilesh Sharma 2018MSCS003 Lab 02 SLIQ

In [20]:
import pandas as pd
import numpy as np
import csv
import math 
from sklearn.model_selection import train_test_split

In [21]:
data=pd.read_csv('C:/Users/Nilesh/Desktop/cars.csv')
print(data)

   age  salary  marital     car
0   30      60   single  sports
1   25      20   single    mini
2   40      80  married     van
3   45     100   single  luxury
4   60     150  married  luxury
5   35     120   single  sports
6   50      70  married     van
7   55      90   single  sports
8   65      30  married    mini
9   70     200   single  luxury

In [22]:
rid=[]
ridlen= len(data)
for i in range(1,ridlen+1):
    rid.append(i)
    
data.insert(loc=0, column='rid', value=rid)
print(data)

   rid  age  salary  marital     car
0    1   30      60   single  sports
1    2   25      20   single    mini
2    3   40      80  married     van
3    4   45     100   single  luxury
4    5   60     150  married  luxury
5    6   35     120   single  sports
6    7   50      70  married     van
7    8   55      90   single  sports
8    9   65      30  married    mini
9   10   70     200   single  luxury

In [23]:
colNames = data.columns.values
print(colNames)

['rid' 'age' 'salary' 'marital' 'car']

In [24]:
#classlist
def getClassList(data,a,b,c):
    cllist= data[[a,b]]
    cllist.insert(loc=2, column='LEAF', value=1)
    cllist.to_csv(c, index=False)
    #return attlist

getClassList(data,colNames[0],colNames[4],"classlist")

In [25]:
#attributelist
def getAttList(data,a,b,c):
    attlist= data[[a,b]]
    attlist.sort_values(by=[b],inplace=True)
    attlist.to_csv(c, index=False)
    #return attlist

getAttList(data,colNames[0],colNames[1],"attlist1")
getAttList(data,colNames[0],colNames[2],"attlist2")
getAttList(data,colNames[0],colNames[3],"attlist3")

C:\Users\Nilesh\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [34]:
def getRecordBasedOnRID(aList,rid):
    alist=pd.read_csv(aList)
    rids=alist.iloc[:,0]
    d=alist.iloc[:,1]
    for i in range(len(rids)):
        if rids[i] == rid:
            return d[i]
        
print(getRecordBasedOnRID("attlist3",2))

single

In [31]:
def setNewLeafBasedOnRID(cList,rid,leaf):
    clist=pd.read_csv(cList)
    clist.loc[clist.rid == rid, 'LEAF'] = leaf
#    clist.to_csv(cList, index=False)    to change in original file
    return clist

setNewLeafBasedOnRID("classlist",1,1)

   rid     car  LEAF
0    1  sports     1
1    2    mini     1
2    3     van     1
3    4  luxury     1
4    5  luxury     1
5    6  sports     1
6    7     van     1
7    8  sports     1
8    9    mini     1
9   10  luxury     1